* {
  margin: 0;
  padding: 0;
  border: 0px;
  box-sizing: border-box
}

body {
  font: 15px monospace;
  background: white;
}

button {
  background: cyan;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid darkcyan;
  transition-duration: .3s;
}

button:hover {
  background: darkcyan;
  color: cyan;
}

.center {
  width: 100%;
  text-align: center;
}

input {
  border: 2px solid black;
}

.infobox {
  border-radius: 10px;
  height: 30px;
  width: 200px;
}

h1 {
  padding: 5px;
}

header {
  background: #33ccff;
  position: absolute;
  width: 100%;
}

header div {
  float: left;
  clear: none;
  text-align: center;
}

header div:last-child {
  float: right;
}
